# Foundry build output
/contracts/cache/
/contracts/out/

# Foundry dependencies
/contracts/lib/*
!/contracts/lib/v4-hooks-public/
/contracts/remappings.txt

# Ignores development broadcast logs
!/contracts/broadcast
/contracts/broadcast/*/31337/
/contracts/broadcast/**/dry-run/

# Docs
/docs/

# Environment files
.env
.env.*

# macOS
.DS_Store
